<table class="cta-banner" align="center" width="600" style="background: #ffffff; width: 100%; max-width: 600px; padding: 15px 20px;" cellspacing="0">
    <tbody>
        <tr>
            {% if module.image_field.src %}
                {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
                {% if module.image_field.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.image_field.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
                <td style="padding: 0; line-height: 0;" {{ sizeAttrs }}>
                    {% set href = module.link_field.url.href %}
                    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href }}"
                        {{ sizeAttrs }}
                        {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                        {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                        style="font-family: Helvetica Neue LT Pro, sans-serif !important; font-size: 16px !important; font-style: normal !important; font-weight: 400 !important; line-height: 19px !important; letter-spacing: 0em !important; text-align: left !important;"
                    >
                        <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    </a>
                </td>
            {% endif %}
            <td style="padding-left: 30px;" width="192">
                {% set href = module.link_field.url.href %}
                {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                    {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                    {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                    style="font-family: Helvetica Neue LT Pro, sans-serif !important; font-size: 15px !important; font-style: normal !important; font-weight: 400 !important; line-height: 19px !important; letter-spacing: 0em !important; text-align: left !important; color: #000000 !important;"
                >
                    <font style="text-decoration: none!important; font-family: Helvetica Neue LT Pro, Arial, sans-serif;">{{ module.text_field }}</font>
                </a>
            </td>
        </tr>
    </tbody>
</table>
