<table class="cta-banner" style="background: #ffffff; width: 100%; max-width: 600px; padding: 15px 93px;" cellspacing="0">
    <tbody>
        <tr>
            <td style="padding: 0; line-height: 0;" >
                {% set href = module.link_field.url.href %}
                {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                    {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                    {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                    style="font-family: Helvetica Neue LT Pro; font-size: 16px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left;"
                >
                    {% if module.image_field.src %}
                        {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
                        {% if module.image_field.size_type == 'auto' %}
                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                        {% elif module.image_field.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
                        <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                </a>
            </td>
            <td style="padding-left: 30px;">
                {% set href = module.link_field.url.href %}
                {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"
                    {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
                    {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
                    style="font-family: Helvetica Neue LT Pro; font-size: 15px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left;"
                >
                    {{ module.text_field }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
