<table class="external-callout" align="center" width="600" style="background: #000000; width: 100%; max-width: 600px; padding: 48px;" cellspacing="0">
    <tbody>
        <tr>
            <!--[if mso 16]>
                <td height="48" width="48" ></td>
                <td height="48" width="48" ><table style="display: none; opacity: 0; border-collapse: collapse;"><tbody><tr>
            <![endif]-->
            <td style="padding: 0; line-height: 0; width: 48px;" height="48" width="48" >
                <img height="48" width="48" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Global%20Logic%20-%20Emails%20-%20March%202022/Vector(9).png">
            </td>
            <!--[if mso 16]>
                </tr></tbody></table></td>
                <td height="48"></td>
            <![endif]-->
            <td></td>
        </tr>
        <tr>
            <!--[if mso 16]>
                <td height="48" width="48" ></td>
            <![endif]-->
            <td height="48" width="48" ></td>
            <td>
                {% if module.text %}
                    <p style="margin: 0; font-family: Helvetica Neue LT Pro, sans-serif; font-size: 24px; font-style: normal; font-weight: 400; line-height: 29px; letter-spacing: 0em; text-align: left; color: #ffffff;">{{ module.text }}</p>
                {% endif %}
                {% if module.person_name %}
                    <p style="font-family: Helvetica Neue LT Pro, sans-serif; font-size: 16px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left; color: #ffffff;">{{ module.person_name }}</p>
                {% endif %}
            </td>
            <!--[if mso 16]>
                <td height="48" width="48" ></td>
            <![endif]-->
        </tr>
        <!--[if mso 16]>
            <tr>
                <td height="48" width="48" ></td>
                <td height="48" width="48" ></td>
                <td height="48"></td>
                <td height="48" width="48" ></td>
            </tr>
        <![endif]-->
    </tbody>
</table>
