<table class="external-callout" align="center" width="600" style="background: #000000; width: 100%; max-width: 600px; padding: 47px;" cellspacing="0">
    <tbody>
        <!--
            <tr>
                <td style="padding: 0; line-height: 0; width: 48px;">
                    <img style="" height="48" width="48" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Global%20Logic%20-%20Emails%20-%20March%202022/Vector(9).png">
                </td>
                <td></td>
            </tr>
        -->
        <tr>
            <td></td>
            <td>
                {% if module.text %}
                    <p style="margin: 0; font-family: Helvetica Neue LT Pro, sans-serif; font-size: 24px; font-style: normal; font-weight: 400; line-height: 29px; letter-spacing: 0em; text-align: left; color: #ffffff;">{{ module.text }}</p>
                {% endif %}
                {% if module.person_name %}
                    <p style="font-family: Helvetica Neue LT Pro, sans-serif; font-size: 16px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left; color: #ffffff;">{{ module.person_name }}</p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
