<table class="headline" align="center" width="600" style="width: 100%; max-width: 600px;" cellspacing="0">
    <tbody>
        <tr>
            <td valign="middle" align="left" style="padding: 46px 40px 42px;{% if module.style == "style1" %} background: #000000; {% endif %}">
                <p class="headline" style="margin: 0 auto; font-family: Helvetica Neue LT Pro, sans-serif; font-size: 24px; font-style: normal; font-weight: 400; line-height: 30px; letter-spacing: 0em; text-align: left; {% if module.style == "style1" %} color: #ffffff; {% endif %}">{{ module.text }}</p>
            </td>
        </tr>
        {% if module.style == "style1" %}
            <tr>
                <td valign="middle" align="left" height="23" style="background: #F37037;"> </td>
            </tr>
        {% endif %}
    </tbody>
</table>