<table class="hero" width="600px" align="center" style="background: {{ module.background_color.color }}; width: 100%; max-width: 600px; padding: 19px 20px 19px;">
    <tbody>
        <tr>
            {% if module.icons.top_left_icon.src %}
                {% set sizeAttrs = 'width="{{ module.icons.top_left_icon.width }}" height="{{ module.icons.top_left_icon.height }}"' %}
                {% if module.icons.top_left_icon.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.icons.top_left_icon.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.icons.top_left_icon.max_width }}" height="{{ module.icons.top_left_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.icons.top_left_icon.loading != 'disabled' ? 'loading="{{ module.icons.top_left_icon.loading }}"' : '' %}
                <td {{ sizeAttrs }}><img src="{{ module.icons.top_left_icon.src }}" alt="{{ module.icons.top_left_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></td>
            {% endif %}
            <td></td>
            {% if module.icons.top_right_icon.src %}
                {% set sizeAttrs = 'width="{{ module.icons.top_right_icon.width }}" height="{{ module.icons.top_right_icon.height }}"' %}
                {% if module.icons.top_right_icon.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.icons.top_right_icon.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.icons.top_right_icon.max_width }}" height="{{ module.icons.top_right_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.icons.top_right_icon.loading != 'disabled' ? 'loading="{{ module.icons.top_right_icon.loading }}"' : '' %}
                <td {{ sizeAttrs }}><img src="{{ module.icons.top_right_icon.src }}" alt="{{ module.icons.top_right_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></td>
            {% endif %}
        </tr>
        <tr>
            <td></td>
            <td style="padding: 9.25px 0 8.75px;">
                <p style="margin: 0 auto; font-family: Arial; font-size: 32px; font-style: normal; font-weight: 400; line-height: 37px; letter-spacing: 0px; text-align: center; color: {{ module.text.text_color.color }};">{{ module.text.hero_text }}</p>
            </td>
            <td></td>
        </tr>
        <tr>
            {% if module.icons.bottom_left_icon.src %}
                {% set sizeAttrs = 'width="{{ module.icons.bottom_left_icon.width }}" height="{{ module.icons.bottom_left_icon.height }}"' %}
                {% if module.icons.bottom_left_icon.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.icons.bottom_left_icon.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.icons.bottom_left_icon.max_width }}" height="{{ module.icons.bottom_left_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.icons.bottom_left_icon.loading != 'disabled' ? 'loading="{{ module.icons.bottom_left_icon.loading }}"' : '' %}
                <td {{ sizeAttrs }}><img src="{{ module.icons.bottom_left_icon.src }}" alt="{{ module.icons.bottom_left_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></td>
            {% endif %}
            <td></td>
            {% if module.icons.bottom_right_icon.src %}
                {% set sizeAttrs = 'width="{{ module.icons.bottom_right_icon.width }}" height="{{ module.icons.bottom_right_icon.height }}"' %}
                {% if module.icons.bottom_right_icon.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.icons.bottom_right_icon.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.icons.bottom_right_icon.max_width }}" height="{{ module.icons.bottom_right_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.icons.bottom_right_icon.loading != 'disabled' ? 'loading="{{ module.icons.bottom_right_icon.loading }}"' : '' %}
                <td {{ sizeAttrs }}><img src="{{ module.icons.bottom_right_icon.src }}" alt="{{ module.icons.bottom_right_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}></td>
            {% endif %}
        </tr>
    </tbody>
</table>
