<table class="navigation" style="background: #000000; width: 100%; max-width: 600px; padding: 11.25px 20px;">
    <tbody>
        <tr>
            <td class="logo_container" valign="middle">
                {% if module.logo.src %}
                    {% set sizeAttrs = 'width="{{ module.logo.width }}" height="{{ module.logo.height }}"' %}
                    {% if module.logo.size_type == 'auto' %}
                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                    {% elif module.logo.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ module.logo.max_width }}" height="{{ module.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = module.logo.loading != 'disabled' ? 'loading="{{ module.logo.loading }}"' : '' %}
                    <img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
            </td>
            <td class="social-links" valign="middle">
                <table align="right" cellspacing="8">
                    <tbody>
                        <tr>
                            {% if module.social_1.social_link.url.href and module.social_1.social_icon %}
                                <td valign="middle">
                                    {% set href = module.social_1.social_link.url.href %}
                                    {% if module.social_1.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                                        {% set href = "mailto:" + href %}
                                    {% endif %}
                                    <a href="{{ href }}"
                                        {% if module.social_1.social_link.open_in_new_tab %}target="_blank"{% endif %}
                                        {% if module.social_1.social_link.rel %}rel="{{ module.social_1.social_link.rel }}"{% endif %}
                                    >
                                        {% set sizeAttrs = 'width="{{ module.social_1.social_icon.width }}" height="{{ module.social_1.social_icon.height }}"' %}
                                        {% if module.social_1.social_icon.size_type == 'auto' %}
                                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                        {% elif module.social_1.social_icon.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.social_1.social_icon.max_width }}" height="{{ module.social_1.social_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                        {% endif %}
                                        <img src="{{ module.social_1.social_icon.src }}" alt="{{ module.social_1.social_icon.alt }}" {{ sizeAttrs }}>
                                    </a>
                                </td>
                            {% endif %}
                            {% if module.social_2.social_link.url.href and module.social_2.social_icon %}
                                <td valign="middle">
                                    {% set href = module.social_2.social_link.url.href %}
                                    {% if module.social_2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                                        {% set href = "mailto:" + href %}
                                    {% endif %}
                                    <a href="{{ href }}"
                                        {% if module.social_2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                                        {% if module.social_2.social_link.rel %}rel="{{ module.social_2.social_link.rel }}"{% endif %}
                                    >
                                        {% set sizeAttrs = 'width="{{ module.social_2.social_icon.width }}" height="{{ module.social_2.social_icon.height }}"' %}
                                        {% if module.social_2.social_icon.size_type == 'auto' %}
                                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                        {% elif module.social_2.social_icon.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.social_2.social_icon.max_width }}" height="{{ module.social_2.social_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                        {% endif %}
                                        <img src="{{ module.social_2.social_icon.src }}" alt="{{ module.social_2.social_icon.alt }}" {{ sizeAttrs }}>
                                    </a>
                                </td>
                            {% endif %}
                            {% if module.social_3.social_link.url.href and module.social_3.social_icon %}
                                <td valign="middle">
                                    {% set href = module.social_3.social_link.url.href %}
                                    {% if module.social_3.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                                        {% set href = "mailto:" + href %}
                                    {% endif %}
                                    <a href="{{ href }}"
                                        {% if module.social_3.social_link.open_in_new_tab %}target="_blank"{% endif %}
                                        {% if module.social_3.social_link.rel %}rel="{{ module.social_3.social_link.rel }}"{% endif %}
                                    >
                                        {% set sizeAttrs = 'width="{{ module.social_3.social_icon.width }}" height="{{ module.social_3.social_icon.height }}"' %}
                                        {% if module.social_3.social_icon.size_type == 'auto' %}
                                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                        {% elif module.social_3.social_icon.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.social_3.social_icon.max_width }}" height="{{ module.social_3.social_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                        {% endif %}
                                        <img src="{{ module.social_3.social_icon.src }}" alt="{{ module.social_3.social_icon.alt }}" {{ sizeAttrs }}>
                                    </a>
                                </td>
                            {% endif %}
                            {% if module.social_4.social_link.url.href and module.social_4.social_icon %}
                                <td valign="middle">
                                    {% set href = module.social_4.social_link.url.href %}
                                    {% if module.social_4.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                                        {% set href = "mailto:" + href %}
                                    {% endif %}
                                    <a href="{{ href }}"
                                        {% if module.social_4.social_link.open_in_new_tab %}target="_blank"{% endif %}
                                        {% if module.social_4.social_link.rel %}rel="{{ module.social_4.social_link.rel }}"{% endif %}
                                    >
                                        {% set sizeAttrs = 'width="{{ module.social_4.social_icon.width }}" height="{{ module.social_4.social_icon.height }}"' %}
                                        {% if module.social_4.social_icon.size_type == 'auto' %}
                                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                        {% elif module.social_4.social_icon.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.social_4.social_icon.max_width }}" height="{{ module.social_4.social_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                        {% endif %}
                                        <img src="{{ module.social_4.social_icon.src }}" alt="{{ module.social_4.social_icon.alt }}" {{ sizeAttrs }}>
                                    </a>
                                </td>
                            {% endif %}
                            {% if module.social_5.social_link.url.href and module.social_5.social_icon %}
                                <td valign="middle">
                                    {% set href = module.social_5.social_link.url.href %}
                                    {% if module.social_5.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                                        {% set href = "mailto:" + href %}
                                    {% endif %}
                                    <a href="{{ href }}"
                                        {% if module.social_5.social_link.open_in_new_tab %}target="_blank"{% endif %}
                                        {% if module.social_5.social_link.rel %}rel="{{ module.social_5.social_link.rel }}"{% endif %}
                                    >
                                        {% set sizeAttrs = 'width="{{ module.social_5.social_icon.width }}" height="{{ module.social_5.social_icon.height }}"' %}
                                        {% if module.social_5.social_icon.size_type == 'auto' %}
                                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                        {% elif module.social_5.social_icon.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.social_5.social_icon.max_width }}" height="{{ module.social_5.social_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                        {% endif %}
                                        <img src="{{ module.social_5.social_icon.src }}" alt="{{ module.social_5.social_icon.alt }}" {{ sizeAttrs }}>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>